* {
    margin: 0;

}

main {
    width: 100%;
}

.nav-bar {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    height: 73px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.icon {
    height: 100%;
}

.nav-elements {
    display: flex;
}

.nav-anchors {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 2.5rem;
    color: #432010;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;


}

.nav-anchors a {
    text-decoration: none;
}

.shop-title {
    padding-top: 20px;
    color: #432010;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
}

.btn-primary {
    display: flex;
    padding: 8px 24px 8px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #432010;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

/* Banner Related styles */
.banner-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF;
}

.banner-intro {

    color: #432010;
    font-size: 70px;
    font-weight: 400;
}

.banner-description {
    color: #432010;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;


}

.marjani {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.banner-photo {}

.thik {
    color: #432010;
    font-size: 50px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;

}

.thik-des {
    color: #432010;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

}

/* Services Related styles */
.mon-mane-na {
    color: #432010;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.service-description {
    color: #432010;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.service-more {
    margin-left: 90px;
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 68px;
    margin-top: 64px;
    justify-content: space-evenly;
}

.aamir {
    height: 69px;
    margin-left: 150px;

}

.ghuri {
    color: #432010;
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}

.ghuri-description {
    margin-top: 10px;
    color: #432010;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.ispat {
    justify-content: center;
    align-items: center;
    padding: 38px 47px;
}

/* Beans Related styles */


.beans-info img {
    width: 100%;
    height: 424px;
}


.items-img img {
    height: 360px;
    width: 360px;
    border-radius: 10px;
}

.items-info {
    gap: 170px;
    display: flex;
    color: #432010;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.romance {
    margin-left: 95px;
    margin-bottom: 10px;
}

.items {
    margin-left: 150px;
    margin-top: 20px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.message {
    color: #432010;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}

.customer-name {
    color: #432010;
    font-size: 30px;
    font-weight: 700;
}

.customer-review {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.customer-img {
    border: 5px;
    border-radius: 30px;

}

.customer-img img {
    align-items: center;
    justify-content: center;
}

.customer-img-me {
    width: 350px;
    height: 450px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.sun {
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 450px;
}

.footer-img img {
    width: 100%;
    height: 350px;
}

.footer-img {
    padding: 20px;
}

.footer-about {
    background: #1B0B04;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.petu {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.kaw{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-left: 15px;
}
.warning{
    color: red;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}



@media screen and (max-width:576px) {
    .nav-bar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .banner-container {
        flex-direction: column;
        margin-top: 300px;
        padding: 20px;
    }

    .nav-elements {
        flex-direction: column;
    }

    .service-more,
    .items {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
        padding: 20px;
    }

    .customer-review,
    .sun {
        flex-direction: column;
        gap: 50px;
    }
    .footer{
        border-radius: 5px;
        padding: 10px;
    }
}